<form action="<%= forecast_path %>" method="get" class="weather-form">
  <label for="address">Enter Address with Zip Code</label>
  <input type="text" id="address" name="address" class="input-field">
  <button type="submit" class="submit-button">Get Weather Forecast</button>
</form>
